
body{
  background: #1f1f1f;
}
.navbar{
  left: 0;
  right: 0;
  
}

.hover-bg:hover{
  background:rgb(51, 51, 51);
  border-radius:1rem;
  transition: all .3s linear;
}
.heading h1{
  font-size: 4.2rem;
}
    .poster-relative-position {
      max-width: 800px;
      top: 10%;
      margin: 0 5rem;
      left: 0;
      right: 0;
    }

.form-section-btn button{
  padding: .8rem;
  font-size: 1.2rem;
}

.inp-col{
  background:rgb(246, 246, 246) ;
  border: none;
  
}

.deliver-section{
  display: none;
}
.form-section-btn{
  display: block;
}
.schedule-btn{
  background:rgb(226, 226, 226);
}
.inp-col::placeholder{
  font-size:1.2rem;
}
.icon-section{
 border: 1px solid rgb(255, 255, 255);
 padding: 1rem;
 border-radius: 12px;
}

.icon-section:hover{
  background: rgb(123, 120, 120);
  color: white;
  

}
#white-img{
  display: none;
}

.footer-section{
  display: flex;
  flex-direction:column;
  gap: .8rem;
}

/* section */
.signup-wrapper{
  margin-top: 25%;
}
.signup-wrapper .signup-wrapper-box{
  display: flex;
  flex-direction:row;
}
/* signup section page */
#signIn-section-page,
#signup-section-page{
  display: none;
}


/* media quries */
@media(max-width:1440px){
  .poster-relative-position{
    margin: 0 auto;
    
  }

  .heading h1{
    font-size: 1.6rem;
    text-align: center;
  }
  .form-section-btn{
    flex-direction: column;
   
   margin: 0 auto;
  

     
  }
  .form-section-btn button{
    margin-bottom: .5rem;
  }

}

@media(max-width:768px){
  #white-img{
    display: block;

  }
 
  #main-img{
    display: none;
  }

  .icon-section h4,
  .icon-section h1{
    font-size: 1rem;
    
  }
    .form-section-btn button{

    width: 100%;
  }

  
}
@media(max-width:375px){
    .icon-section h4{
      display: none;
    }
    .icon-section h4{
      font-size: 1.5rem;
    }
         
        .form-section-btn button{
          font-size:.7rem;
          
          
        }

}